* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

/* ------------------ Header ----------------------*/

.header {
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.boton{
    background-color: #ffb61a;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover{
    cursor: pointer;
    background-color: #e99100;
}

.menuImg {
    display: none;
}

.logoPage {
    width: 100px;
    margin-left: 20px;
}

.headerBusqueda {
    display: flex;
    align-items: center;
    width: 400px;
}

.headerLogoLupa {
    width: 18px;
    position: absolute;
    margin-left: 10px;
}

input[type="busqueda"] {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;
    padding-left: 40px;
}

input[type="text"] {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 10px;
}

/* .header_iniciarSesion {
    width: 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
} */

.header_iniciarSesion {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.header_iniciarSesion button {
    border: none;
    border-radius: 5px;
    padding: 2px;
}

.header_p {
    color: #FFBD1A;
    padding-left: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 3%;
    padding-right: 3%;
}

.menuNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ulNav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ulNav li {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.ulNav li:hover,
.ulNav li:active {
    text-decoration: underline;
    text-decoration-color: #FFBD1A;
    text-decoration-thickness: 5px;
}


a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
}


@media (max-width:860px) {

    .header {
        height: 60px;
        display: grid;
        grid-template-columns: 25% 50% 35%;
        grid-template-rows: 100%;
    }

    .logo_menu {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        width: 100px;
    }

    .menuImg {
        display: grid;
        width: 40px;
        margin: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }

    .logoPage {
        width: 50px;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: -5px;
        justify-self: center;
    }

    .headerBusqueda {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
    }

    input[type="busqueda"] {
        margin-left: 0px;
        padding-left: 25px;
    }

    .headerLogoLupa {
        margin-left: 5px;
    }

    /* .header_iniciarSesion {
        width: 70px;
    } */

    .header_iniciarSesion {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 110px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0px;
    }

    .header_iniciarSesion button {
        border: none;
        border-radius: 5px;
        padding: 2px;
    }

    .menuNav {
        display: none;
    }

    .header_p {
        display: none;
    }

    nav img {
        width: 70px;
    }
}


/* ------------------ Home ----------------------*/

.home {
    background-image: url('../imagenes/engranaje.svg');
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.imgFondo {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 15% 35%;
    justify-items: center;
    padding-top: 100px;
}

.imgFondo img {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.imgFondo h1 {
    grid-row: 1/2;
    align-self: flex-end;
    text-align: center;
}

.imgFondo p {
    grid-row: 3/4;
    font-size: 25px;
    align-self: start;
    text-align: center;
}

.categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.homeCardCategorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.homeH2 {
    text-align: center;
    color: #DF922F;
    margin-top: 20px;
}

.homeP {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    width: 70%;
}

.CardCategorias {
    width: 120px;
    height: 120px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    margin: 25px;
}

.CardCategoriasImg {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #E6E7E8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardCategoriasP {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #FFBD1A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* ----- Card Producto -----*/

.homeCardProductos {
    max-width: 1200px;
    margin: auto;
}

.CardProducto {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    margin: 15px;
    /* border: 1px solid #a7a7a7; */
    border-radius: 10px;
}

.CardCProductoImg {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.CardCProductoImg img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CardProductoInfo {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #E6E7E8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CardProductoInfo h5 {
    font-size: 15px;
}

.CardProductoInfo p {
    font-size: 15px;
}

.CardProductoInfo span {
    font-size: 12px;
}

.CardProductoInfo button {
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.CardProductoVisibilidad {
    display: none;
}


/*-- Paginados --*/

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/* .pagination li {
    margin: 0 5px;
  } */

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    /* background-color: #E6E7E8; */
    color: #000000;
    text-decoration: none;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #E6E7E8;
    border-color: #b8b8b8;
}

.pagination .active a {
    background-color: #E6E7E8;
    border-color: #FFBD1A;
}

@media (max-width:860px) {

    .home {
        background-size: 400px;
        background-repeat: space;
    }

    .homeP {
        font-size: 15px;
    }

    .imgFondo {
        height: 210px;
        width: 100%;
        grid-template-rows: 57% 8% 35%;
        padding-top: 60px;
    }

    .imgFondo img {
        height: 150px;
        width: 100%;
        position: absolute;
        z-index: -1;

    }

    .imgFondo h1 {
        font-size: 20px;
        width: 150px;
    }

    .imgFondo p {
        font-size: 12px;
        width: 150px;
    }

    .CardProducto {
        width: 150px;
        height: 150px;
    }

    .CardProductoInfo h5 {
        font-size: 13px;
    }

    .CardProductoInfo p {
        font-size: 14px;
    }

    .CardProductoInfo span {
        font-size: 10px;
    }

    .CardProductoInfo button {
        height: 18px;
        width: 70px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
    }
}

/* ------------------ Productos ----------------------*/

.productos {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.productos h2 {
    color: #DF922F;
}

.productos button {
    width: 400px;
    height: 65px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.productos button a {
    color: #000000;
}

@media (max-width:860px) {

    .productos {
        height: 260px;
    }

    .productos button {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }

}

/* Agregar Producto */

.añadirProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.formAñadirProducto {
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
}

.añadirProductos h2 {
    font-size: 24px;
    color: #DF922F;
    text-align: center;
}

.añadirProductosImg {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formImgSalir {
    width: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
}

/* select,
input[type="file"],
input[type="text"],
input[type="number"],
textarea  */

.estilosForm {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.formPrecio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputPrecio {
    width: 240px;
}

.formPrecio p {
    font-size: 15px;
    padding-left: 3px;
}

.formAñadirProducto button {
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* ------------------ Footer ----------------------*/

.footer {
    background-color: #000000;
    height: 150px;
    color: #ffffff;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 35% 30% 20%;
}

.divLogoFooter {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.logoFooter {
    height: 80px;
    margin-left: 10px;
}

.footerContacto {
    display: grid;
    grid-template-rows: 35% 32% 33%;
    grid-template-columns: 50% 50%;
}

h4 {
    font-size: 25px;
}

.footerContacto h4 {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.footerContactoDireccion {
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
}

.footerH5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.footerP {
    font-size: 15px;
}

.footerContactoTel {
    grid-column: 2/3;
    grid-row: 2/3;
}

.footerContactoEmail {
    grid-column: 2/3;
    grid-row: 3/4;
}


.noticiasFooter {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
}

.noticiasFooter h4 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}


.inputFooter {
    width: 200px;
}

.botonFooter {
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-weight: bold;
}

.fomFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80px;
    gap: 10px;
}

.siguenosFooter {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
}

.siguenosFooter h4 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.footer_logos {
    justify-self: center;
    align-self: center;
}

.logoRedSocial {
    width: 30px;
    margin-right: 15px;
}
/* para la pagina de contacto */
/* Contact.css */
.contact-container {
    text-align: center;
    padding: 20px;
}

.contact-heading {
    font-size: 24px;
    color: #ffb61a; /* Color del encabezado */
}

.contact-info {
    font-size: 16px;
    color: #333; /* Color del texto principal */
}



@media (max-width:700px) {

    .footer {
        grid-template-rows: 30% 40% 30%;
        grid-template-columns: 100%;
        height: 400px;
    }

    .footerContacto {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    h4 {
        font-size: 20px;
    }

    .footerContacto h4 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .footerContactoDireccion {
        grid-column: 1/2;
        grid-row: 2/4;
        justify-self: center;
        padding-left: 10px;
    }

    .footerH5 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .footerP {
        font-size: 12px;
    }

    .footerContactoTel {
        padding-left: 40px;
    }

    .footerContactoEmail {
        padding-left: 40px;
    }

    .noticiasFooter {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .siguenosFooter h4 {
        align-self: flex-end;
    }

    .siguenosFooter {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .divLogoFooter {
        display: none;
    }

}